<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "com.catoeik.cetogtider"
        versionCode = "1"
        version     = "0.0.1" >

    <!-- versionCode is optional and Android only -->

    <name>CE Togtider</name>

    <description>
        Realtime train info in Norway, Oslo region. 
    </description>

    <author href="http://www.catoeik.com" email="catoeik@gmail.com">
        Cato Eik
    </author>

    <supports-screens android:anyDensity="true" android:resizeable="true" 
    android:smallScreens="true" 
    android:normalScreens="true" 
    android:largeScreens="true" 
    android:xlargeScreens="true" />

</widget>
